#askQuestionPage section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    height: 10em;
}

#askQuestionPage section button {
    /*width: 20%;*/
    /*padding-left: 1em;*/
}

#askQuestionArea {
    width: 60%;

}

#askQuestionArea strong{
    font-weight: bold;
}

#aiAnswer {
    margin-top: 5em;
}

#aiAnswer h3 {
    font-size: 3em;
}

#aiAnswer p {
    line-height: 3em;
}

pre {
    background-color: #262626;
    padding: 1em;
    border-radius: 0.53em;
    margin: 1em 0.5em;
}

#btnPublishQuestion {
    font-size: 1.5em;
    padding: 0.1em 0.3em;
}

#btnSubmitQuestion {
    font-size: 1.5em;
    padding:  0.1em 0.2em;
}

#btnPublishQuestion {
    margin-top: 1em;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid grey;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
