
/*#forumTitle {*/
/*    font-size: 4em;*/
/*}*/

/*#forumHeader {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/

/*#forumFilter {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*#forumFilter select {*/
/*    margin: 1.9em 2em;*/
/*    !*padding: 1em;*!*/
/*}*/

/*#btnAddQuestion {*/
/*    margin-left: 3em;*/
/*}*/

.questionContainer {
    cursor: pointer;
}

#forumTitle {
    font-size: 4em;
}

#forumHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#forumFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
}

#forumFilter label {
    width: 30%;
    text-align: right;
}

#forumFilter select {
    border-radius: 1em;
}

#forumFilter select,
#forumFilter input,
#forumFilter button {
    margin: 1.9em 1em;
    padding: 0.5em;
    background-color: #3fabaf;
    color: #f7efe5;
}

.headerAskBtn {
    width: 20%;

}

#btnAddQuestion {
    margin-left: auto;
    background-color: #3fabaf;
    color: #f7efe5;
    font-size: 1.5em;
    width: 100%;
    transition: background-color 0.3s ease;
    padding: 0.5em;
}

#btnAddQuestion:hover {
    background-color: grey;
}

.questionLi {
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
    width: auto;
    margin-top: 2em;
    background-color: #3fabaf;
    padding: 1.1em;
    border-radius: 1em;
}

.questionLi div {
    width: 100%;
}

.questionContainer h3 {
    border-bottom: 2px solid #f7efe5;
}

.authorName {
    margin-bottom: 1em;
}

.questionButtons {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.questionButtons button {
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    transition: background-color 0.3s ease;
}

