
/*#forumTitle {*/
/*    font-size: 4em;*/
/*}*/

/*#forumHeader {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/

/*#forumFilter {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*#forumFilter select {*/
/*    margin: 1.9em 2em;*/
/*    !*padding: 1em;*!*/
/*}*/

/*#btnAddQuestion {*/
/*    margin-left: 3em;*/
/*}*/

.questionContainer {
    cursor: pointer;
}

#forumTitle {
    font-size: 4em;
}

#forumHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%
}

#forumFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
}

#forumFilter label {
    width: 30%;
    text-align: right;
}

#forumFilter select {
    border-radius: 1em;
}

#forumFilter select,
#forumFilter input,
#forumFilter button {
    margin: 1.9em 1em;
    padding: 0.5em;
    background-color: #3fabaf;
    color: #f7efe5;
}

.headerAskBtn {
    width: 100%;

}

#btnAddQuestion {
    margin-left: auto;
    background-color: #3fabaf;
    color: #f7efe5;
    font-size: 1.5em;
    width: 100%;
    transition: background-color 0.3s ease;
    padding: 0.5em;
}

#btnAddQuestion:hover {
    background-color: grey;
}

.questionLi {
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
    width: auto;
    margin-top: 2em;
    background-color: #3fabaf;
    padding: 1.1em;
    border-radius: 1em;
}

.questionLi div {
    width: 100%;
}

.questionContainer h3 {
    border-bottom: 2px solid #f7efe5;
}

.authorName {
    margin-bottom: 1em;
}

.questionButtons {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.questionButtons button {
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    transition: background-color 0.3s ease;
}

#askFilterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 600px) {

    #btnAddQuestion {
        width: auto;
    }
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


#filterDiv {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #3fabaf;
    margin-bottom: 20px;
}

#filterDiv form {
    margin-bottom: 10px;
}

#filterDiv form div {
    margin-bottom: 5px;
}

#filterDiv button {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
}

#filterDiv button:hover {
    background-color: grey;
    color: white;
}

#filterDiv input[type="checkbox"] {
    margin-right: 5px;
}

#filterDiv label {
    cursor: pointer;
}
