
.linkNavText {
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    .navUl {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

#liBtnLogin {
    cursor: pointer;
}