

.formContainer {
    text-align: center;
    border: 2px solid white;
    padding: 2em;
    width: 30%;
    margin: 0 auto;
}

.formContainer form {
    display: flex;
    flex-direction: column;
}

.signInForm div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0.5em;
}

div button {
    border-radius: 1em;
    background-color: orange;
    color: white;
    width: 40%;
    margin: 1.53em auto;
    height: 3em;
    transition: background-color 0.3s ease;
}

div button:hover {
    background-color: gray;
}

div a {
    text-decoration: none;
    color: inherit;
}

#forgotPassNewAccContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    height: 2em;
}

#forgotPassNewAccContainer p {
    color: orange;
    transition: color 0.3s ease;
}

#forgotPassNewAccContainer p:hover {

    color: grey;
}
