
body {
   background-color: black;
   color: #f7efe5;
    width: 80%;
    margin: auto;
 }

button {
    border-radius: 1em;
}

#wrapper {
    min-height: 64vh;
}

@media (max-width: 600px) {


    body {
        max-width: 100%;
        width: 95%;
    }

}